@import "tailwindcss";

:root {
  --background: #1C1C1C;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C1C;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
}

.custom-line {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.custom-line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  height: 10%;
  background-color: var(--background);
  /* opacity: 0.4; */
  z-index: 2;
}

